@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.slide-container {
  margin: 0 auto;
  width: 500px;
  height: auto;
}

.dark-mode {
  background-color: #242424;
}

.dark-mode p {
  color: #fff;
}

/* 666 screen size */
@media screen and (max-width: 666px) {
  .slide-container {
    width: 445px;
  }
}

/* 566 screen size */
@media screen and (max-width: 566px) {
  .slide-container {
    width: 385px;
  }
}

/* 466 screen size */
@media screen and (max-width: 466px) {
  .slide-container {
    width: 325px;
  }
}