.nav-container {
  background-color: #c899ec;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.nav-container.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 14px #c899ec;
}

.nav-logo {
  padding: 10px 35px;
  max-width: 100%;
  height: auto;
}

.nav-icons {
  font-size: 2rem;
  cursor: pointer;
  padding: 0 25px;
}

.nav-icons a {
  color: #000;
}

.nav-icons .facebook:hover {
  color: #4068be;
  transition: color 0.3s;
}

.nav-icons .instagram:hover {
  color: #d62976;
  transition: color 0.3s;
}

.nav-icons .github:hover {
  color: #7a51da;
  transition: color 0.3s;
}

/* 600 screen size */
@media screen and (max-width: 500px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

  .nav-logo {
    padding: 5px 0px;
  }

  .nav-icons {
    font-size: 1.5rem;
    padding: 0;
  }
}
