@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.slider-header {
  margin-bottom: 3rem;
  text-align: center;
  color: #9b5eca;
  font-size: 5rem;
}

.slider {
  height: 65vh;
  position: relative;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.slides::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: inherit;
  transition: filter 0.35s ease-out;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -70px;
  /* adjust as needed */
  font-size: 45px;
  color: #9b5eca;
  z-index: 1;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -70px;
  /* adjust as needed */
  font-size: 45px;
  color: #9b5eca;
  z-index: 1;
  cursor: pointer;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-styles {
  margin: 10px 5px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.active-dot {
  color: #9b5eca;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.55s ease;
}

.button-container {
  text-align: center;
  padding-top: 25px;
}

.slider-button {
  padding: 15px;
  font-size: 1.05rem;
  font-weight: 500;
  color: #fff;
  background-color: #9b5eca;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slides:hover .image-overlay {
  opacity: 1;
}

.dark-mode .slider-header {
  color: #c899ec;
}

.dark-mode .right-arrow {
  color: #c899ec;
}

.dark-mode .left-arrow {
  color: #c899ec;
}

.dark-mode .dot-styles {
  color: #fff;
}

.dark-mode .active-dot {
  color: #c899ec;
}

.dark-mode .slider-button {
  background-color: #c899ec;
}

/* 1080 screen size */
@media screen and (max-width: 1080px) {
  .slider-header {
    font-size: 4rem;
  }

}

/* 900 screen size */
@media screen and (max-width: 900px) {
  .slider-header {
    margin-bottom: 2rem;
  }

  .left-arrow {
    left: -60px;
    font-size: 40px;
  }

  .right-arrow {
    right: -60px;
    /* adjust as needed */
    font-size: 40px;
  }

  .dot-styles {
    margin: 10px 5px;
    font-size: 17px;
  }

}

/* 768 screen size */
@media screen and (max-width: 768px) {
  .left-arrow {
    left: -50px;
  }

  .right-arrow {
    right: -50px;
  }

  .dot-styles {
    margin: 10px 5px;
    font-size: 15px;
  }

}

/* 600 screen size */
@media screen and (max-width: 600px) {
  .slider-header {
    font-size: 3.5rem;
  }

  .left-arrow {
    left: -45px;
    font-size: 35px;
  }

  .right-arrow {
    right: -45px;
    font-size: 35px;
  }

  .dot-styles {
    margin: 15px 4px;
    font-size: 13.5px;
  }

  .button-container {
    padding-top: 30px;
  }

  .slider-button {
    padding: 13px;
    font-size: 0.9rem;
  }

}

/* 566 screen size */
@media screen and (max-width: 566px) {
  .image-overlay {
    font-size: 2.5rem;
  }
}

/* 500 screen size */
@media screen and (max-width: 500px) {
  .left-arrow {
    left: -36.5px;
    font-size: 32px;
  }

  .right-arrow {
    right: -36.5px;
    font-size: 32px;
  }

  .dot-styles {
    margin: 15px 4px;
    font-size: 11.5px;
  }

}

/* 414 screen size */
@media screen and (max-width: 414px) {
  .left-arrow {
    left: -33.5px;
    font-size: 30px;
  }

  .right-arrow {
    right: -33.5px;
    font-size: 30px;
  }

  .dot-styles {
    margin: 15px 3px;
    font-size: 10px;
  }

}