@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.slider-header {
  margin-bottom: 3rem;
  text-align: center;
  color: #9b5eca;
  font-size: 5rem;
}

.slider {
  height: 65vh;
  position: relative;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.slides::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: inherit;
  transition: filter 0.35s ease-out;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -70px; /* adjust as needed */
  font-size: 45px;
  color: #9b5eca;
  z-index: 1;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -70px; /* adjust as needed */
  font-size: 45px;
  color: #9b5eca;
  z-index: 1;
  cursor: pointer;
}

.dot-container {
  display: flex;
  justify-content: center;
}

.dot-styles {
  margin: 10px 5px;
  font-size: 20px;
  cursor: pointer;
}

.active-dot {
  color: #9b5eca;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.55s ease;
}

.slides:hover .image-overlay {
  opacity: 1;
}
